// ======================================================================
// WRAPPER
// ======================================================================

.wrap {
  display: grid;
  height: 100vh;
  height: 100svh;
}

.layout {
  display: grid;
  height: 100vh;
  height: 100svh;
}

.layout-content {
  overflow: auto;
  background: var(--color-background);
}

.layout-controls {
}

.loading {
  display: block;
  position: absolute;
  width: 100%;
  height: 100vh;
  height: 100svh;

  background: var(--color-background);
  background-image: url(../../images/loading-white.png);
  background-size: 30px auto;
  background-position: center;
  background-repeat: no-repeat;
}
