// ======================================================================
// WRAPPER
// ======================================================================

.wrap {
  display: grid;
  height: 100vh;
  height: 100svh;

  &--home {
    background-image: url(../../../public/images/bg1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: radial-gradient(ellipse at center, rgba(17, 17, 17, 0.5) 20%, rgba(17, 17, 17, 0) 100%);
    }

    &:after {
      content: '';
      position: absolute;
      top: 75%;
      left: 0;
      width: 100%;
      height: 25%;
      background: linear-gradient(rgba(17, 17, 17, 0), rgba(17, 17, 17, 1));
    }
  }
}

.layout {
  display: grid;
  grid-template-areas:
    'sidebar content rightbar'
    'controls controls controls';
  grid-template-rows: 1fr auto;
  grid-template-columns: auto 1fr auto;
  height: 100vh;
  height: 100svh;
}

.layout-sidebar {
  overflow: auto;
  grid-area: sidebar;
  background: var(--color-background);
}

.layout-content {
  overflow: auto;
  grid-area: content;
  background: var(--color-background);
  // container-type: inline-size;
}

.layout-controls {
  grid-area: controls;
  background: var(--color-background);
}

.layout-rightbar {
  overflow: auto;
  grid-area: rightbar;
  background: var(--color-background);
}

.loading {
  display: block;
  position: absolute;
  width: 100%;
  height: 100vh;
  height: 100svh;

  background: var(--color-background);
  background-image: url(../../images/loading-white.png);
  background-size: 30px auto;
  background-position: center;
  background-repeat: no-repeat;
}

.wrap-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-height: 100svh;
  padding: 25px 0;
  padding-bottom: calc(25px + 3vh);

  > div {
    width: 100%;
  }
}

.electron-drag {
  display: none;

  html.electron & {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 46px;
    background: rgba(255, 0, 0, 0.1);

    @include electron-drag;
  }
}

html {
  ::-webkit-scrollbar {
    width: 8px; /* For vertical scrollbar */
    height: 8px; /* For horizontal scrollbar */
    background: var(--color-opacity-01);
  }

  ::-webkit-scrollbar-track {
    background: transparent;
    // background: var(--color-opacity-005);
  }

  ::-webkit-scrollbar-thumb {
    width: 8px;
    background: var(--color-opacity-02);
    border-radius: 0;
  }
}

// .layout-sidebar,
// .layout-content,
// .layout-controls,
// .layout-rightbar {
//   &::-webkit-scrollbar {
//     width: 8px; /* For vertical scrollbar */
//     height: 8px; /* For horizontal scrollbar */
//     background: var(--color-opacity-01);
//   }

//   &::-webkit-scrollbar-track {
//     background: transparent;
//     // background: var(--color-opacity-005);
//   }

//   &::-webkit-scrollbar-thumb {
//     width: 8px;
//     background: var(--color-opacity-02);
//     border-radius: 50px;
//   }
// }

/* Show scrollbar on hover */
// .your-scrollable-element:hover::-webkit-scrollbar {
//   width: 8px; /* Adjust width for vertical scrollbar */
//   height: 8px; /* Adjust height for horizontal scrollbar */
// }

/* Style the scrollbar track */
// .your-scrollable-element::-webkit-scrollbar-track {
//   background: transparent; /* Set track background */
// }

/* Style the scrollbar thumb */
// ::-webkit-scrollbar-thumb {
//   width: 10px;
//   background: #f00; /* Adjust thumb color */
//   border-radius: 10px; /* Rounded corners */
// }

/* Optional: Style the scrollbar thumb on hover */
// .your-scrollable-element::-webkit-scrollbar-thumb:hover {
//   background: rgba(0, 0, 0, 0.8); /* Darker thumb on hover */
// }
