@use '../../../css/_config/_mixins';
@use '../../../css/_config/_vars';

.wrap {
  overflow: hidden;
  width: 100%;
  height: 100%;
  border-left: 1px solid var(--color-secondary-border);

  :global(html[data-electron-platform='win']) & {
    padding-top: 30px;
  }
}

.scrollableOuter {
  overflow: auto;
  width: 100%;
  height: 100%;
  padding: 17px 10px 20px;
  background: var(--color-secondary-background);
  font-size: 12px;

  :global(html[data-electron-platform='win']) & {
    // height: calc(100% - 30px);
    padding-top: 0px;
  }
}

.scrollableInner {
  background: var(--color-secondary-background);
}

//
// NOW PLAYING - LARGE
//

.expandedEntry {
  min-height: 312px;
  padding: 4px 10px 20px;

  @media (min-width: 1024px) {
    min-height: 352px;
  }

  a {
    &:hover {
      text-decoration: underline;
    }
  }
}

.expandedThumb {
  overflow: hidden;
  aspect-ratio: 1 / 1;
  margin: 15px 1px 0;
  background: var(--color-primary-background);
  background-image: vars.$thumbnail;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 6px;
  outline: 1px solid var(--color-opacity-01);

  @include mixins.electron-no-drag;

  img {
    aspect-ratio: 1 / 1;
  }
}

.expandedLink {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.expandedCollapse {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 5px;
  border-radius: 50%;
  opacity: 0;
  transition: all ease-in-out 0.25s;

  .expandedThumb:hover & {
    opacity: 1;
  }

  .expandedThumb:hover &:hover {
    transform: scale(1.1);
  }

  @include mixins.focus-self-outline;

  @include mixins.focus-self-custom() {
    opacity: 1;
  }

  > span {
    display: block;
    position: relative;
    width: 40px;
    height: 40px;
    padding: 11px;
    background: var(--color-core);
    border: 1px solid var(--color-opacity-01);
    border-radius: 50%;
    box-shadow: var(--shadow-sm);
    color: var(--color-secondary-background);

    > span {
      display: block;
      position: relative;
      width: 16px;
      height: 16px;
    }
  }
}

.expandedDetails {
  margin: 12px 0 0;
}

.expandedDetailsMain {
  flex: 0 0 auto;
  width: 100%;
  // width: calc(100% - 30px);

  .expandedDetails:hover & {
    width: calc(100% - 30px);
  }
}

.expandedDetailsButton {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  // background: rgba(255, 255, 255, 0.1);
}

.expandedTitle {
  min-height: 24px;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
}

.expandedArtist {
  min-height: 20px;
  margin-top: 3px;
  font-size: 14px;
  line-height: 20px;
  color: var(--color-opacity-06);
}

.expandedAlbum {
  min-height: 17px;
  margin-top: 4px;
  font-size: 12px;
  line-height: 17px;
}

.expandedSpecs {
  min-height: 14px;
  margin-top: 5px;
  font-size: 10px;
  line-height: 14px;
  text-transform: uppercase;
  color: var(--color-opacity-06);
}

.expandedFavourite {
  margin-top: 10px;
}

.expandedRating {
  margin-top: 10px;
}

.expandedSettings {
  display: block;
  visibility: hidden;
  width: 20px;
  height: 24px;
  padding: 4px 2px;
  color: var(--color-opacity-05);
  border-radius: 6px;

  .expandedDetails:hover &,
  .expandedDetails:focus-within & {
    visibility: visible;
  }

  &:hover {
    color: var(--color-text);
  }

  @include mixins.focus-child-outline;
}

//
// LABEL
//

.label {
  display: block;
  position: relative;
  width: 100%;
  min-height: 42px;
  padding: 15px 10px 10px;
  border-radius: 6px;
  font-weight: bold;
  text-align: left;

  .scrollableOuterVirtual & {
    :global(html[data-env='local']) & {
      color: var(--color-core);
    }
  }
}

button.label {
  @include mixins.electron-no-drag;
  @include mixins.focus-self-outline();
}

.expandIcon {
  position: absolute;
  top: 50%;
  right: 10px;
  width: 12px;
  height: 12px;
  margin-top: -3px;
  opacity: 0;

  .label:hover & {
    opacity: var(--opacity-05);
  }

  @include mixins.focus-child-custom() {
    opacity: var(--opacity-05);
  }
}

.shuffleLabel {
  font-weight: normal;
  color: var(--color-opacity-05);
}

.shuffleIcon {
  display: inline-block;
  position: relative;
  top: 3px;
  width: 12px;
  height: 12px;
  margin-left: 1px;
}

//
// LABEL - REPEAT
//

.repeat {
  padding: 25px 10px 10px;
  font-weight: 600;
  text-align: center;

  span {
    padding: 4px 18px;
    background: var(--color-opacity-005);
    border-radius: 99px;
    font-size: 11px;
    color: var(--color-opacity-05);
  }
}

//
// TRACK
//

.trackEntry {
  display: flex;
  align-items: center;
  gap: 13px;
  padding: 6px 10px;
  background: transparent;
  border: 1px solid transparent;
  border-radius: 8px;

  @include mixins.focus-self-outline();

  &:hover {
    background: var(--color-tertiary-background);
    border: 1px solid var(--color-tertiary-border);
  }

  a {
    &:hover {
      text-decoration: underline;
    }
  }
}

// .trackEntryCurrent {
//   color: var(--color-core);
// }

.trackThumb {
  overflow: hidden;
  flex: 0 0 auto;
  width: 36px;
  height: 36px;
  background: var(--color-opacity-01);
  background-image: vars.$thumbnail;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 3px;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.trackContent {
  flex: 0 1 auto;
}

.trackTitle {
}

.trackArtist {
  font-size: 11px;
  color: var(--color-opacity-05);

  // .trackEntryCurrent & {
  //   opacity: 1;
  // }
  .trackEntry:hover & {
    color: var(--color-text);
  }
}
