@import '../../../css/global';

.wrap {
  top: 2px;

  &Inline {
    display: inline-block;
    top: 1px;
    margin-left: 6px;

    &:first-child {
      margin-left: 0;
    }
  }
}

.flex {
  display: flex;
}

.star {
}

.star + .star {
  margin-left: 2px;
}
