@import '../../../css/global';

.wrap {
  width: 100%;
  padding: 0 30px 50px;
  font-size: 12px;
}

.disc {
  display: flex;
  align-items: center;
  padding: 10px 16px;
  margin-top: 30px;
  opacity: 0.4;
  font-weight: bold;

  &:first-child {
    margin-top: 0;
  }
}

.discIcon {
  width: 14px;
  height: 14px;
  margin-right: 34px;
}

.entry {
  display: grid;
  align-items: center;
  grid-template-columns: 30px 1.3fr 1fr 0.5fr 60px;
  gap: 15px;
  padding: 10px 19px;
  background: transparent;
  border: 1px solid transparent;
  border-radius: 8px;

  .wrap.wrapPlaylist & {
    grid-template-columns: 30px 36px 1.3fr 1fr 1fr 0.5fr 60px;
    padding: 6px 19px;
  }

  &:hover {
    background: rgba(255, 255, 255, 0.08);
    border: 1px solid rgba(255, 255, 255, 0.05);
  }
}

.playingIcon {
  width: 16px;
  height: 16px;
  color: var(--color-primary);
}

.trackNumber {
  opacity: 0.4;
  font-weight: bold;

  .entry:hover & {
    opacity: 1;
  }
}

.thumb {
  overflow: hidden;
  width: 36px;
  height: 36px;
  margin: 0 -5px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 3px;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.title {
}

.artist {
  opacity: 0.4;

  .entry:hover & {
    opacity: 1;
  }
}

.album {
  opacity: 0.4;

  .entry:hover & {
    opacity: 1;
  }
}

.userRating {
  opacity: 0.3;

  .entry:hover & {
    opacity: 1;
  }
}

.duration {
  opacity: 0.4;
  text-align: right;

  .entry:hover & {
    opacity: 1;
  }
}
