@use '../../../css/_config/_mixins';
@use '../../../css/_config/_vars';

.wrap {
  display: inline-block;
}

.trigger {
  display: flex;
  align-items: center;
  padding: 6px 6px;
  border-radius: 6px;
  font-size: 12px;
  line-height: 1;
  color: var(--color-opacity-06);

  @include mixins.focus-self-outline;

  .wrapLarge & {
    padding: 5px 12px;
    background: var(--color-button-on-primary-bg);
    border: 1px solid var(--color-button-on-primary-border);
  }
  .wrapLarge:not(:first-child) & {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .wrapLarge:not(:last-child) & {
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.icon {
  display: inline-block;
  width: 14px;
  height: 14px;
  opacity: var(--opacity-06);
  color: var(--color-text);

  &:first-child {
    margin: 0 8px 0 0;
  }
  &:last-child {
    margin: 0 0 0 8px;
  }

  .wrapLarge & {
    margin: 0 !important;
    opacity: 1;
    color: var(--color-opacity-07);
  }
}

.label {
  .wrapLarge & {
    display: none;
  }
}
