# USED TO DEFINE THE APP ENVIRONMENT. CAN BE 'local', 'preview', OR 'production'.
VITE_ENV=local

# USED TO DEFINE THE CONTACT EMAIL ADDRESS DISPLAYED IN THE APP.
VITE_EMAIL_ADDRESS=email@email.com

# USED TO PRE-POPULATE THE JELLYFIN LOGIN FORM DURING DEVELOPMENT. NOT USED IN PRODUCTION.
VITE_JELLY_SERVER=http://192.168.0.1:8096
VITE_JELLY_USERNAME=YourJellyfinUsername
VITE_JELLY_PASSWORD=YourJellyfinPassword

# USED TO DEFINE THE TINIFY API KEY FOR IMAGE COMPRESSION. NOT USED IN PRODUCTION.
TINIFY_API_KEY=YourTinifyAPIKey
