{
  "env": {
    "browser": true,
    "es2020": true
  },
  "extends": [
    "react-app",
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:prettier/recommended"
    // 'plugin:@typescript-eslint/recommended',
    // 'prettier/@typescript-eslint',
  ],
  "plugins": ["react", "prettier"],
  "rules": {
    "no-unused-vars": "warn",
    // "no-unused-vars": ["warn", { "args": "all", "argsIgnorePattern": "^_" }],
    "react/display-name": 0,
    "react/no-unescaped-entities": 0,
    "react/no-unused-prop-types": 1,
    "react/prop-types": 0,
    "react/react-in-jsx-scope": 0
  },
  "parserOptions": {
    "sourceType": "module"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
