.icon {
  display: inline-block;
  position: relative;
  vertical-align: top;
  // overflow: hidden;
  overflow: visible;
  width: 1em;
  height: 1em;
  margin: 0;

  fill: currentColor;

  font-size: 1em;
  line-height: 1em;

  svg {
    display: block;
    // vertical-align: text-bottom;
    vertical-align: baseline !important;
    overflow: visible;
    user-select: none;
    width: 1em;
    height: 1em;
  }

  path {
    fill: currentColor;
  }

  &Cover {
    width: 100%;
    height: 100%;

    svg {
      width: 100%;
      height: 100%;
    }
  }

  &Stroke {
    fill: none;
    stroke: currentColor;

    path {
      fill: none;
      stroke: currentColor;
    }
  }

  &StrokeWidth2 {
    path {
      stroke-width: 1.3;
    }
  }
}
