@import '../../../css/global';

.wrap {
  position: fixed;
  top: 20px;
  right: 40px;
  background: var(--color-panel-background);
  border: 1px solid var(--color-border);
  border-radius: 6px;
  font-size: 12px;

  button {
    padding: 14px 20px;
  }
}
