@import '../../../css/global';

.wrap {
  overflow-x: hidden;
  width: 200px;
  min-height: 100%;
  padding: 40px 12px 20px;
  background: var(--color-panel-background);
  border-right: 1px solid var(--color-border);

  @media (min-width: 1024px) {
    width: 220px;
  }
}

.nav {
  display: flex;
  position: absolute;
  top: 4px;
  right: -4px;
  width: 80px;
  height: 50px;
  // background: rgba(255, 0, 0, 0.1);

  @include electron-no-drag;
}

.prev,
.next {
  width: 50%;
  height: 100%;
  padding: 17px 7px 17px 17px;
  border-radius: 6px;

  @include focus-self;

  &:disabled {
    opacity: 0.25;
    cursor: default;
  }
}
.next {
  padding: 17px 17px 17px 7px;
}

.label {
  padding: 30px 8px 8px;
  opacity: 0.5;
  font-size: 11px;
  font-weight: 700;
}

.link {
  display: block;
  overflow: hidden;
  padding: 6px 11px;
  margin: 0 0 1px;
  border-radius: 6px;
  font-size: 13px;

  // prevent text wrapping and display an ellipsis
  text-overflow: ellipsis;
  white-space: nowrap;

  @media (min-width: 1024px) {
    padding: 6px 13px;
  }

  @include focus-self;

  &:hover,
  &:focus {
    background: var(--color-opacity-0025);
  }

  &Active {
    background: var(--color-opacity-005) !important;
    font-weight: 600;
    color: var(--color-primary);
  }
}

.icon {
  display: inline-block;
  position: relative;
  top: 1px;
  width: 14px;
  height: 14px;
  margin: 0 10px 0 0;
  opacity: 0.5;

  .linkActive & {
    opacity: 1;
  }

  // &Plus1 {
  //   top: 2px;
  // }
}
