@use '../../../css/_config/_mixins';

.wrap {
  display: flex;
  flex-wrap: wrap;
  grid-column: 1 / -1; // this is here to make the element full width when within a grid
  gap: 5px 10px;
  margin-left: -6px;
  // background: rgba(255, 255, 255, 0.1);

  &.padding {
    padding-bottom: 40px;
    margin-top: -33px;

    @include mixins.content-padding-regular;
  }

  &.padding.inset {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
}
