@use '../../../css/_config/_mixins';
@use '../../../css/_config/_vars';

.wrap {
}

// BUTTON

.btn {
  display: block;
  appearance: none;
  width: 100%;
  max-width: 230px;
  padding: 17px 16px;
  margin: 0;
  background: vars.$color-core;
  border: 1px solid vars.$color-opacity-02;
  border-radius: 10px;

  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  color: vars.$color-primary-bg;

  @include mixins.focus-self-outline;

  @media (min-width: 1024px) {
    max-width: 240px;
  }

  &:disabled {
    cursor: default;
    // cursor: not-allowed;
  }

  &.disabled:disabled {
    background-color: var(--color-opacity-005) !important;
    border: 1px solid var(--color-opacity-005) !important;
    color: var(--color-opacity-03) !important;
  }

  &.disabledText:disabled {
    color: var(--color-opacity-03) !important;
  }

  :global(.text-center) & {
    margin: 0 auto;
  }

  :global(html[data-logged-in='true']) & {
    background-color: var(--color-core);
    border: 1px solid var(--color-opacity-015);
    color: var(--color-primary-bg);
  }

  // inline

  &.inline {
    display: inline-block;
    width: auto;
    margin: 0;
  }

  // loading / submitting

  &.loading {
    background-image: url(../../../images/loading-black.gif);
    background-image: url(../../../images/loading-black.png);
    background-size: 24px 24px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    color: rgba(0, 0, 0, 0) !important;

    :global(html[data-theme='light']) & {
      background-image: url(../../../images/loading-white.gif);
      background-image: url(../../../images/loading-white.png);
    }
  }

  // centering

  :global(.u-center-all) & {
    margin-inline: auto;
  }
  :global(.u-center-mobile) & {
    @media (max-width: 1023px) {
      margin-inline: auto;
    }
  }
  :global(.u-center-tablet-desktop) & {
    @media (min-width: 768px) {
      margin-inline: auto;
    }
  }
  :global(.u-center-desktop) & {
    @media (min-width: 1024px) {
      margin-inline: auto;
    }
  }

  // icon
  .icon {
    display: inline-block;
    position: relative;
    top: 2px;
    width: 18px;
    height: 18px;
    margin: -2px 10px -2px 0;
  }
}

//
// COLORS
//

.colorMono {
  :global(html[data-logged-in='true']) & {
    background-color: var(--color-button-mono-bg);
    border: 1px solid var(--color-text);
    color: var(--color-primary-bg);
  }

  &.disabledText:disabled {
    :global(html[data-logged-in='true']) & {
      background-color: var(--color-button-mono-bg) !important;
      border: 1px solid var(--color-text) !important;
      color: var(--color-primary-bg) !important;
    }
  }

  &.loading {
    background-image: url(../../../images/loading-white.gif) !important;
    background-image: url(../../../images/loading-white.png) !important;

    :global(html[data-text-theme='light']) & {
      background-image: url(../../../images/loading-black.gif) !important;
      background-image: url(../../../images/loading-black.png) !important;
    }
  }
}

.colorSecondary {
  background-color: vars.$color-secondary-border;
  border: 1px solid vars.$color-opacity-01;
  color: vars.$color-text;

  :global(html[data-logged-in='true']) & {
    background-color: var(--color-button-on-primary-bg);
    border: 1px solid var(--color-button-on-primary-border);
    color: var(--color-text);
  }

  &.loading {
    background-image: url(../../../images/loading-black.gif) !important;
    background-image: url(../../../images/loading-black.png) !important;

    :global(html[data-text-theme='light']) & {
      background-image: url(../../../images/loading-white.gif) !important;
      background-image: url(../../../images/loading-white.png) !important;
    }
  }
}

.colorTertiary {
  background-color: vars.$color-secondary-border;
  border: 1px solid vars.$color-opacity-01;
  color: vars.$color-text;

  :global(html[data-logged-in='true']) & {
    background-color: var(--color-button-on-secondary-bg);
    border: 1px solid var(--color-button-on-secondary-border);
    color: var(--color-text);
  }

  &.loading {
    background-image: url(../../../images/loading-black.gif) !important;
    background-image: url(../../../images/loading-black.png) !important;

    :global(html[data-text-theme='light']) & {
      background-image: url(../../../images/loading-white.gif) !important;
      background-image: url(../../../images/loading-white.png) !important;
    }
  }
}

.colorOutlineSecondary {
  :global(html[data-logged-in='true']) & {
    background-color: transparent;
    border: 1px solid var(--color-button-on-primary-border);
    color: var(--color-text);
  }
}

.colorOutlineTertiary {
  :global(html[data-logged-in='true']) & {
    background-color: transparent;
    border: 1px solid var(--color-button-on-secondary-border);
    color: var(--color-text);
  }
}

//
// SIZES
//

.sizeMedium {
  max-width: 210px;
  padding: 15px 10px;
  border-radius: 8px;
  font-size: 16px;
  line-height: 20px;

  // max-width: 180px;
  // padding: 16px 10px;
  // font-size: 14px;
  // line-height: 16px;

  .icon {
    width: 16px;
    height: 16px;
  }
}

.sizeSmall {
  min-width: 120px;
  max-width: 210px;
  padding: 12px 16px;
  border-radius: 6px;
  font-size: 14px;
  line-height: 16px;

  .icon {
    width: 14px;
    height: 14px;
  }
}

.sizeTiny,
.sizeTab {
  min-width: 90px;
  max-width: 210px;
  padding: 8px 16px;
  border-radius: 6px;
  font-size: 14px;
  line-height: 16px;

  .icon {
    top: 1px;
    width: 14px;
    height: 14px;
    margin: -1px 10px -1px 0;
  }
}

.sizeTab {
  min-width: 114px;
  padding: 7px 10px;
  font-weight: 400;

  .icon {
    margin: -1px 10px -1px -3px;
  }
}
