@use '../../../css/_config/_mixins';
@use '../../../css/_config/_vars';

.content {
  z-index: 99;
  padding: 4px;
  background: var(--color-secondary-bg);
  border: 1px solid var(--color-secondary-border);
  border-radius: 5px;
  box-shadow: var(--shadow-md);
  font-size: 12px;
  line-height: 14px;
}

.sectionHeading {
  padding: 7px 16px 6px 8px;
  font-size: 10px;
  font-weight: 700;
  color: var(--color-opacity-05);
}

.divider {
  height: 1px;
  margin: 4px 7px;
  background: var(--color-secondary-border);
}

.actionItem,
.actionItemNull {
  display: flex;
  position: relative;
  align-items: center;
  gap: 8px;
  padding: 6px 16px 6px 8px;
  border-radius: 2px;
}

.actionItem {
  &:not([data-disabled]):hover,
  &:not([data-disabled]):focus {
    background: var(--color-secondary-hover);
    cursor: pointer;

    @include mixins.focus-self-fill;
  }

  &[data-disabled] {
    color: var(--color-opacity-04);
  }
}

.actionItemNull {
  color: var(--color-opacity-04);
}

.subTrigger {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  padding: 6px 4px 6px 8px;
  border-radius: 2px;

  &:not([data-disabled]):hover,
  &:not([data-disabled]):focus,
  &[data-state='open'] {
    background: var(--color-secondary-hover);
    cursor: pointer;

    @include mixins.focus-self-fill;
  }

  &[data-disabled] {
    color: var(--color-opacity-04);
  }
}

.subTriggerArrow {
  flex-shrink: 0;
  width: 14px;
  height: 14px;
  opacity: 0.5;
}

.subTriggerLeft {
  display: flex;
  align-items: center;
  gap: 7px;
}

.entryIcon {
  flex-shrink: 0;
  width: 14px;
  height: 14px;
  opacity: var(--opacity-05);
}
