.title {
  margin: 0 0 15px;
  font-size: 14px;
  font-weight: bold;
  color: var(--color-opacity-05);
}

.settingsGroup {
  :global(#scrollable) {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
