@use '../../../css/_config/_mixins';
@use '../../../css/_config/_vars';

.wrap {
  width: 100%;
  padding: 0 30px 50px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
  max-width: 1000px;
  margin: 0 auto;

  &[data-total='1'] {
    grid-template-columns: repeat(1, 1fr);
    width: 150px;
  }
  &[data-total='2'] {
    grid-template-columns: repeat(2, 1fr);
    width: 320px;
  }
  &[data-total='3'] {
    grid-template-columns: repeat(3, 1fr);
    width: 490px;
  }
  &[data-total='4'],
  &[data-total='7'],
  &[data-total='8'] {
    grid-template-columns: repeat(4, 1fr);
    width: 660px;
  }
  &[data-total='5'],
  &[data-total='9'],
  &[data-total='10'] {
    grid-template-columns: repeat(5, 1fr);
    width: 830px;
  }

  // @media (max-width: 1059px) {
  //   grid-template-columns: repeat(5, 1fr);
  //   width: 830px;
  // }
}

.entry {
  display: flex;
  position: relative;
  width: 100%;
  padding: 9px;
  background: var(--color-secondary-bg);
  border: 1px solid var(--color-secondary-border);
  border-radius: 13px;
  box-shadow: var(--shadow-md);
  font-size: 12px;
  line-height: 1.6;
  text-align: center;
  color: var(--color-opacity-04);

  @include mixins.focus-self-outline;

  &:hover,
  &:focus {
    background: var(--color-tertiary-bg);
    border: 1px solid var(--color-tertiary-border);
  }

  > * {
    width: 100%;
  }
}

.thumb {
  overflow: hidden;
  aspect-ratio: 1 / 1;
  background: var(--color-opacity-01);
  border-radius: 6px;

  &:after {
    @include mixins.artwork-border(6px);
  }
}

.thumbIcon {
  position: absolute;
  top: 16px;
  bottom: 16px;
  left: 16px;
  right: 16px;
  opacity: var(--opacity-02);
}

.title {
  margin-top: 10px;
  font-size: 14px;
  text-wrap: balance;
  color: var(--color-text);
}

.locked {
  position: absolute;
  top: -7px;
  right: -7px;
  width: 28px;
  height: 28px;
  padding: 7px;
  background: var(--color-text);
  border-radius: 50%;
  box-shadow: var(--shadow-md);
  text-align: center;
  color: var(--color-primary-bg);

  // .entry:hover &,
  // .entry:focus & {
  //   background: var(--color-tertiary-bg);
  //   border: 1px solid var(--color-tertiary-border);
  // }
}

.iconAdmin {
  display: inline-block;
  position: relative;
  top: 2px;
  width: 14px;
  height: 14px;
  margin: -2px 6px -2px -1px;
}

.iconLock {
  display: inline-block;
  position: relative;
  width: 14px;
  height: 14px;
}

//
// FORM
//

.form {
  max-width: 320px;
  margin: 0 auto;
}

.cancel {
  width: 120px;
  margin: 50px auto 0;
}

.otpWrapper {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}
