.modal {
  pointer-events: all;
  max-width: 60rem;
  padding: 22px 20px;
  margin: 15px 15px 20px;
  background: #444;
  border: 1px solid #666;
  border-radius: 20px;
  will-change: transform, opacity;

  @media (min-width: 440px) {
    margin: 15px 25px 25px;
  }
  @media (min-width: 580px) {
    margin: 15px 34px 25px;
  }
  @media (min-width: 668px) {
    margin: 15px auto 25px;
  }
  @media (min-width: 768px) {
    display: flex;
    padding: 30px;
  }

  @media (min-height: 700px) {
    margin-top: 20px;
    margin-bottom: 35px;
  }

  // THEMES

  &.success {
    .icon {
      color: green;
    }
  }

  &.release,
  &.warnOrange,
  &.warnOrangeBorder {
    .icon {
      color: orange;
    }
  }
  &.warnOrangeBorder {
    border-color: orange;
  }

  &.error,
  &.warnRed,
  &.warnRedBorder {
    .icon {
      color: red;
    }
  }
  &.warnRedBorder {
    border-color: red;
  }

  // VARIANTS

  &.medium {
    @media (min-width: 768px) {
      max-width: 70rem;
    }
  }

  &.relation {
    max-width: 40rem;
    padding: 45px 15px 15px;
    text-align: left;
  }
}

.icon {
  flex: 0 0 auto;
  width: 42px;
  height: 42px;
  margin: 0 0 15px;

  // @supports (text-wrap: balance) {
  //   @media (max-width: 499px) {
  //     margin: 0 auto 15px;
  //   }
  // }
  @media (min-width: 768px) {
    margin: 0 20px 0 0;
  }
}

.main {
  flex: 1 1 auto;
}
