@import '../../../css/global';

.wrap {
  display: inline-block;
  margin-right: 30px;
}

.trigger {
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 1;
  padding: 6px 0;
  color: var(--color-opacity-06);
}

.icon {
  display: inline-block;
  width: 14px;
  height: 14px;

  &:first-child {
    margin: 0 8px 0 0;
  }
  &:last-child {
    margin: 0 0 0 8px;
  }
}

.content {
  left: 8px;
  background: var(--color-panel-background);
  border: 1px solid var(--color-border);
  border-radius: 5px;
  padding: 6px 0;
  box-shadow: 0 0 10px var(--color-shadow);
  font-size: 13px;
  line-height: 1;
  z-index: 99;
}

.viewport {
}

.item {
  padding: 5px 14px;
  cursor: pointer;

  &[data-state='checked'] {
    color: var(--color-primary);
  }
}

.indicator {
  margin: 0 0 0 8px;
}

.indicatorIcon {
  display: inline-block;
  position: relative;
  width: 10px;
  height: 10px;
  top: 1px;
}
