@use '../../../css/_config/_mixins';
@use '../../../css/_config/_vars';

.wrap {
  display: inline-block;
  margin-left: -6px;
  margin-right: 18px;
}

.trigger {
  display: flex;
  align-items: center;
  padding: 6px 6px;
  border-radius: 6px;
  font-size: 12px;
  line-height: 1;
  color: var(--color-opacity-06);

  @include mixins.focus-self-outline;
}

.icon {
  display: inline-block;
  width: 14px;
  height: 14px;
  opacity: var(--opacity-06);
  color: var(--color-text);

  &:first-child {
    margin: 0 8px 0 0;
  }
  &:last-child {
    margin: 0 0 0 8px;
  }
}

//
// DROPDOWN
//

.content {
  top: 2px;
  left: -7px;
  padding: 4px;
  background: var(--color-secondary-background);
  border: 1px solid var(--color-secondary-border);
  border-radius: 5px;
  box-shadow: var(--shadow-md);
  z-index: 99;
  font-size: 12px;
  line-height: 14px;
}

.viewport {
}

.selectItem {
  display: block;
  position: relative;
  padding: 6px 16px 6px 8px;
  border-radius: 2px;
  cursor: pointer;

  @include mixins.focus-self-fill;

  &:hover,
  &:focus {
    background: var(--color-secondary-hover);
  }

  // &[data-state='checked'] {
  //   color: var(--color-core);
  // }
}

.selectIcon {
  display: inline-block;
  position: relative;
  // top: -1px;
  width: 14px;
  height: 14px;
  margin-right: 8px;

  &Middle {
    position: absolute;
    top: 0;
    left: 0;
  }

  &Inactive {
    opacity: var(--opacity-02);

    [data-state='checked'] & {
      display: none;
    }
  }
}
