@import '../../../css/global';

.wrap {
  width: 100%;
  padding: 0 20px 50px;
  font-size: 12px;

  :global(.cq-800) & {
    padding: 0 30px 50px;
  }
}

.header,
.entry {
  display: grid;
  align-items: center;
  grid-template-columns: 30px 1.3fr 1fr 60px;
  gap: 13px;

  :global(.cq-800) & {
    gap: 15px;
  }

  .wrap.wrapPlaylists & {
    grid-template-columns: 30px 41px 1.3fr 1fr 1fr 60px;
  }
}

.header.headerWithRating,
.entry.entryWithRating {
  :global(.cq-800) & {
    grid-template-columns: 30px 1.3fr 1fr 0.5fr 60px;
  }

  .wrap.wrapPlaylists & {
    :global(.cq-800) & {
      grid-template-columns: 30px 41px 1.3fr 1fr 1fr 0.5fr 60px;
    }
  }
}

.header {
  position: sticky;
  top: 90px;
  padding: 0 20px 8px;
  margin: 0 -5px 20px;
  background: var(--color-background);
  z-index: 3;
  font-weight: bold;

  :global(.cq-800) & {
    padding: 0 25px 8px;
  }

  > * {
    opacity: 0.5;
  }

  > *:last-child {
    text-align: right;
  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 15px;
    right: 15px;
    height: 1px;
    background: var(--color-opacity-015);
  }
}

.headerRating {
  display: none;

  :global(.cq-800) & {
    display: block;
  }
}

.entry {
  padding: 10px 14px;
  background: transparent;
  border: 1px solid transparent;
  border-radius: 8px;

  :global(.cq-800) & {
    padding: 10px 19px;
  }

  .wrap.wrapPlaylists & {
    padding: 6px 14px;

    :global(.cq-800) & {
      padding: 6px 19px;
    }
  }

  &:hover {
    background: var(--color-opacity-01);
    border: 1px solid var(--color-opacity-005);
  }

  a {
    &:hover {
      text-decoration: underline;
    }
  }
}

.disc {
  display: flex;
  align-items: center;
  padding: 11px 15px;
  margin-top: 30px;
  opacity: 0.5;
  font-weight: bold;

  :global(.cq-800) & {
    padding: 11px 20px;
  }

  &:first-child {
    margin-top: 0;
  }
}

.discIcon {
  width: 18px;
  height: 14px;
  padding: 0 2px;
  margin-right: 24px;

  :global(.cq-800) & {
    margin-right: 26px;
  }
}

.trackNumber {
  opacity: 0.5;
  font-weight: bold;

  .entry:hover & {
    display: none;
  }
}

span.minCenter {
  display: inline-block;
  min-width: 18px;
  text-align: center;
}

.playingIcon {
  width: 18px;
  height: 16px;
  padding: 0 1px;
  color: var(--color-primary);

  .entry:hover & {
    display: none;
  }
}

.playIcon,
.pauseIcon {
  display: none;
  width: 18px;
  height: 16px;
  padding: 3px 4px;
  // color: var(--color-primary);

  .entry:hover & {
    display: block;
  }
}

.thumb {
  overflow: hidden;
  width: 36px;
  height: 36px;
  // margin: 0 -5px;
  background: var(--color-opacity-01);
  border-radius: 3px;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.title {
  .entry.entryPlaying & {
    font-weight: 500;
    color: var(--color-primary);
  }
}

.artist {
  opacity: 0.5;

  .entry:hover & {
    opacity: 1;
  }
}

.album {
  opacity: 0.5;

  .entry:hover & {
    opacity: 1;
  }
}

.userRating {
  display: none;
  opacity: 0.3;

  :global(.cq-800) & {
    display: block;
  }

  .entry:hover & {
    opacity: 1;
  }
}

.duration {
  opacity: 0.5;
  text-align: right;

  .entry:hover & {
    opacity: 1;
  }
}
