@use '../../../css/_config/_mixins';
@use '../../../css/_config/_vars';

.wrap {
  grid-column: 1 / -1; // this is here to make the element full widht when within a grid
  padding: 0 10px 40px;
  margin-top: -33px;

  :global(.cq-800) & {
    padding: 0 10px 40px;
  }

  &Padding {
    padding: 0 30px 40px;

    :global(.cq-800) & {
      padding: 0 40px 40px;
    }
  }
}
