@use '../../../css/_config/_mixins';
@use '../Action/_shared' as action;

.wrap {
  @include action.wrap;
}

.trigger {
  @include action.trigger;
}

.icon {
  @include action.icon;
}

.label {
  @include action.label;
}

//
// DROPDOWN
//

.content {
  top: 2px;
  left: -7px;
  z-index: 99;
  padding: 4px;
  background: var(--color-secondary-bg);
  border: 1px solid var(--color-secondary-border);
  border-radius: 5px;
  box-shadow: var(--shadow-md);
  font-size: 12px;
  line-height: 14px;

  // Icon variant used alongside play buttons
  &Large {
    top: 4px;
    left: 0;
  }
}

.viewport {
}

.selectItem {
  display: block;
  position: relative;
  padding: 6px 16px 6px 8px;
  border-radius: 2px;
  cursor: pointer;

  @include mixins.focus-self-fill;

  &:hover,
  &:focus {
    background: var(--color-secondary-hover);
  }

  // &[data-state='checked'] {
  //   color: var(--color-core);
  // }
}

.selectIcon {
  display: inline-block;
  position: relative;
  // top: -1px;
  width: 14px;
  height: 14px;
  margin-right: 8px;

  &Middle {
    position: absolute;
    top: 0;
    left: 0;
  }

  &Inactive {
    opacity: var(--opacity-02);

    [data-state='checked'] & {
      display: none;
    }
  }
}
