@use '../../../css/_config/_mixins';
@use '../../../css/_config/_vars';

.wrap {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.scrollableOuter {
  overflow: auto;
  width: 100%;
  height: 100%;
  padding-bottom: 30px;
  background: var(--color-primary-bg);

  @include mixins.content-padding-inset;
}

.scrollableInner {
  // Note: This grid layout MUST match the logic in the calculateDimensions js function.
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  gap: 0;
  background: var(--color-primary-bg);

  :global(.cq-540) & {
    gap: 0 10px;
  }
  :global(.cq-620) & {
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  }
  :global(.cq-860) & {
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  }

  &Virtual {
    display: block;
  }
}

.measure {
  height: 0;

  // :global(html[data-env='local']) & {
  //   height: 1px;
  //   background: var(--color-core);
  //   opacity: 0.15;
  // }
}

.virtualRow {
  display: grid;
  gap: 0;

  :global(.cq-540) & {
    gap: 0 10px;
  }

  // :global(html[data-env="local"]) & {
  //   background: rgba(255, 255, 255, 0.05);
  // }
}

.groupRow {
  display: block;
  grid-column: 1 / -1;
  width: 100%;
  padding: 0 10px 20px;
  font-size: 16px;
  font-weight: bold;

  .card + & {
    padding-top: 30px;
  }
}

.card {
  padding: 9px;
  margin-bottom: 10px;
  background: transparent;
  border: 1px solid transparent;
  border-radius: 13px;

  @include mixins.focus-self-outline;

  :global(.cq-540) & {
    margin-bottom: 20px;
  }

  &:hover {
    background: var(--color-card-on-primary-bg);
    border: 1px solid var(--color-card-on-primary-border);
  }

  .virtualRow & {
    margin-bottom: 0;
  }

  &Link {
    cursor: pointer;
  }

  a {
    &:hover {
      text-decoration: underline;
    }
  }
}

.thumb {
  overflow: hidden;
  width: 100%;
  height: 0;
  padding: 0 0 60%;
  background: var(--color-opacity-01);
  background-image: vars.$thumbnail;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 6px;
  // outline: 1px solid var(--color-opacity-01);

  &.thumbSquare {
    padding: 0 0 100%;
  }
  &.thumbWithIcon {
    background: var(--color-core);
    background: linear-gradient(to bottom, var(--color-core) 0%, var(--color-primary-bg) 400%);
    color: var(--color-primary-bg);

    :global(html[data-theme='light']) & {
      background: linear-gradient(to top, var(--color-core) 0%, var(--color-primary-bg) 400%);
    }
  }

  &:after {
    @include mixins.artwork-border(6px);
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 42px;
  height: 42px;
  transform: translate(-50%, -50%);
}

.controlButtonWrap {
  display: block;
  position: absolute;
  bottom: 10px;
  right: 10px;
  opacity: 0;
  transform: translateY(10px);
  transition: all ease-in-out 0.25s;
  pointer-events: none;

  .card:hover &,
  .card.cardCurrent & {
    opacity: 1;
    transform: translateY(0);
    pointer-events: all;
  }
}

.playButton,
.pauseButton {
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 40px;
  height: 40px;
  padding: 10px 8px 10px 12px;
  background: var(--color-core);
  border: 1px solid var(--color-opacity-01);
  border-radius: 50%;
  box-shadow: var(--shadow-md);
  transition: all ease-in-out 0.25s;
  cursor: pointer;
  color: var(--color-primary-bg);

  .card:hover &:hover,
  .card.cardCurrent &:hover {
    transform: translateY(0) scale(1.1);
  }
}

.pauseButton {
  padding: 11px;
}

.body {
  padding: 10px 2px 2px;
  font-size: 11px;
}

.title {
  font-size: 12px;
  font-weight: 500;
}

.favourite {
  display: inline-block;
  position: relative;
  top: 3px;
  margin: -2px 6px -2px 0;
  color: var(--color-core);
}

.subtitle {
  display: block;
  color: var(--color-opacity-05);
}

.rating {
  margin-top: 6px;
  color: var(--color-opacity-04);
}
